@font-face {
  font-family: 'Circle Light';
  src: url("../fonts/cirLig/Circe-Light.eot");
  src: url("../fonts/cirLig/Circe-Light.woff2");
  src: url("../fonts/cirLig/Circe-Light.woff");
  src: url("../fonts/cirLig/Circe-Light.ttf");
  font-display: swap; }

@font-face {
  font-family: 'Circle Extra Light';
  src: url("../fonts/cirExLig/Circe-ExtraLight.eot");
  src: url("../fonts/cirExLig/Circe-ExtraLight.woff2");
  src: url("../fonts/cirExLig/Circe-ExtraLight.woff");
  src: url("../fonts/cirExLig/Circe-ExtraLight.ttf");
  font-display: swap; }

@font-face {
  font-family: 'Circle Regular';
  src: url("../fonts/cirReg/Circe-Regular.eot");
  src: url("../fonts/cirReg/Circe-Regular.woff2");
  src: url("../fonts/cirReg/Circe-Regular.woff");
  src: url("../fonts/cirReg/Circe-Regular.ttf");
  font-display: swap; }

@font-face {
  font-family: 'Circle Bold';
  src: url("../fonts/cirBold/Circe-Bold.eot");
  src: url("../fonts/cirBold/Circe-Bold.woff2");
  src: url("../fonts/cirBold/Circe-Bold.woff");
  src: url("../fonts/cirBold/Circe-Bold.ttf");
  font-display: swap; }

@font-face {
  font-family: 'Circle Extra Bold';
  src: url("../fonts/cirExBold/Circe-ExtraBold.eot");
  src: url("../fonts/cirExBold/Circe-ExtraBold.woff2");
  src: url("../fonts/cirExBold/Circe-ExtraBold.woff");
  src: url("../fonts/cirExBold/Circe-ExtraBold.ttf");
  font-display: swap; }

* {
  box-sizing: border-box; }

html {
  font-family: "Circle Regular";
  font-size: 62.5%;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  color: #000; }

body, input, textarea {
  font-family: "Circle Regular";
  font-size: 62.5%;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  position: relative;
  margin: 0;
  padding: 0; }

a, a:hover {
  text-decoration: none;
    text-decoration-transition-duration: 500s ease; }

button, input, a, textarea {
  outline: none;
  cursor: pointer; }
  button:focus, input:focus, a:focus, textarea:focus {
    outline: none; }
  button:active, input:active, a:active, textarea:active {
    outline: none; }

h1, h2, h3, h4, h5, h6 {
  display: block;
  width: 100%;
  text-align: center;
  font-size: unset;
  margin: 0;
  padding: 0; }

p {
  margin-top: 0;
  margin-bottom: 0; }

img {
  max-width: 100%;
  vertical-align: middle;
    vertical-align-width: 100%; }

.btn {
  border: none; }

ul {
  padding: 0;
  margin: 0; }

ul li {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  width: 140rem;
  margin: 0 auto;
  position: relative;
  max-width: unset; }

.hidden {
  overflow: hidden; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

@media (max-width: 108em) {
  html {
    font-size: 9px; } }

@media (max-width: 105em) {
  html {
    font-size: 8.75px; } }

@media (max-width: 91.5em) {
  html {
    font-size: 7.9px; } }

@media (max-width: 91em) {
  html {
    font-size: 8.4px; } }

@media (max-width: 90em) {
  html {
    font-size: 7.9px; } }

@media (max-width: 80em) {
  html {
    font-size: 7.2px; } }

@media (max-width: 72em) {
  html {
    font-size: 6.5px; } }

@media (max-width: 68em) {
  html {
    font-size: 6px; } }

@media (max-width: 64em) {
  html {
    font-size: 5.5px; } }

@media (max-width: 60em) {
  html {
    font-size: 5.2px; } }

@media (max-width: 55em) {
  html {
    font-size: 5px; } }

@media (max-width: 51em) {
  html {
    font-size: 4.5px; } }

@media (max-width: 48em) {
  html {
    font-size: 10px;
    -webkit-text-size-adjust: none; }
  body {
    -webkit-text-size-adjust: none; }
  .container {
    padding: 0;
    margin: 0 auto;
    width: 100%; } }

@media (max-width: 44em) {
  html {
    font-size: 9px; } }

@media (max-width: 38em) {
  html {
    font-size: 8px; } }

@media (max-width: 34em) {
  html {
    font-size: 7px; } }

@media (max-width: 30em) {
  html {
    font-size: 6px; } }

@media (max-width: 26em) {
  html {
    font-size: 5px; } }

@media (max-width: 22.5em) {
  html {
    font-size: 4.5px; } }

@media (max-width: 21em) {
  html {
    font-size: 4.4px; } }

.features {
  text-align: center; }

.top__main {
  display: flex;
  flex: wrap; }

.main-left {
  width: 50%;
  text-align: center; }

.main-left img {
  width: 50rem; }

.main-right {
  width: 50%;
  height: 80rem;
  display: flex;
  justify-content: center;
  align-items: center; }

h1 {
  font-size: 3.6rem;
  letter-spacing: .75px;
  line-height: 36px;
  font-family: marcjacobs;
  font-weight: 700; }

.cost {
  font-size: 2rem;
  padding: 3rem 0 7rem 0; }

.main-right .btn {
  width: 30rem;
  padding: 3rem;
  background-color: #000;
  color: #ffff; }

.basket {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 13;
  width: 67rem;
  height: 105rem;
  background-color: #FFF; }

.top {
  width: 65rem;
  height: 9.8rem;
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  border-bottom: 1px solid #000; }

.top-lead {
  font-size: 2.3rem;
  margin-left: 3rem; }

.close {
  font-size: 2.3rem;
  cursor: pointer; }

.basket__inner {
  width: 65rem;
  padding-top: 3rem;
  display: flex;
  justify-content: space-around; }

.basket__left img {
  width: 30rem;
  height: 30rem; }

.basket__right {
  height: 30rem; }

.basket__right h1 {
  font-size: 1.8rem;
  margin-top: -.6rem; }

.basket__right .cost {
  font-size: 2rem; }

.charac {
  font-size: 2rem;
  letter-spacing: .75px;
  line-height: 8px;
  color: #757575;
  margin-bottom: 2rem; }

.size {
  font-size: 2rem;
  letter-spacing: .75px;
  line-height: 8px;
  color: #757575; }

.quantity {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 10rem; }

.quantity__num {
  color: #000;
  font-size: 2rem; }

.basket__bottom {
  height: 58rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 3rem; }

.basket__bottom .btn {
  font-size: 1.5rem;
  width: 61rem;
  padding: 2rem;
  background-color: #000;
  color: #ffff; }

.basket__bottom .title {
  font-family: marcjacobs;
  font-weight: 400;
  font-size: 2rem;
  text-transform: uppercase;
  color: #757575;
  margin-bottom: 2rem; }

.basket__bottom .subtitle {
  display: flex;
  justify-content: space-between;
  width: 60rem;
  padding-bottom: 3rem; }

.basket__bottom .subtext {
  font-size: 2rem;
  color: #000; }

.minus {
  font-size: 2rem;
  cursor: pointer; }

.number {
  font-size: 2rem; }

.plus {
  font-size: 2rem;
  cursor: pointer; }

header {
  padding: 2rem 0;
  background: #fcfbfdce;
  border-bottom: 3px solid #000;
  height: 10rem; }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.nav__list {
  display: flex; }

.nav__link {
  color: #000;
  font-size: 2.5rem;
  font-family: "Circle Regular";
  margin-right: 2rem; }

.nav__link:hover {
  font-size: 2.8rem; }

.nav__logo {
  font-size: 4.5rem; }

.bread__logo {
  width: 80rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 3rem; }

.nav__logo:hover {
  font-size: 4.6rem; }

.basket__logo {
  width: 4rem;
  height: 4rem;
  cursor: pointer; }

.basket__logo:hover {
  width: 4.2rem;
  height: 4.2rem; }

.nav-right {
  display: flex;
  justify-content: space-between; }

.nav__contact {
  margin-right: 5rem; }

.nav__card {
  cursor: pointer; }

.wrapper {
  width: 80rem;
  margin: 0 auto; }

.checkout {
  border: 1px solid grey;
  width: 80rem;
  height: 21rem;
  text-align: center;
  margin: 0 auto; }

.checkout__title {
  font-size: 3rem;
  padding: 7rem 0 3rem 0;
  text-align: left; }

.checkout__item {
  font-size: 2rem;
  padding: 2rem 0 1rem 2rem;
  border-bottom: 1px solid grey;
  text-align: left; }

.checkout__text {
  font-size: 2rem;
  padding: 2rem 0 2rem 2rem;
  text-align: left;
  color: grey; }

.checkout-btn {
  display: block;
  font-size: 2rem;
  background-color: #000;
  color: #fff;
  text-align: center;
  width: 75rem;
  margin: 0 auto;
  padding: .9rem 0; }

.form__container {
  width: 80rem;
  height: 50rem;
  margin: 0 auto;
  text-align: center;
  border: 1px solid grey;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.form__title {
  text-align: left;
  font-size: 3rem; }

.form__buttom {
  width: 70rem;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto; }

.form__buttom span {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-left: 1rem; }

.forget-pass {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #000; }

.for-btn {
  font-size: 2rem;
  background-color: #000;
  color: #fff;
  text-align: center;
  width: 75rem;
  padding: .9rem 0;
  margin-bottom: 2rem; }

.for-text {
  font-size: 2rem;
  margin-bottom: 2rem; }

.all__buttons {
  text-align: center; }

.input {
  width: 75rem;
  margin: 0 auto;
  padding: 1rem 0;
  font-size: 2rem;
  margin-top: 2rem;
  border: 1px solid #101010; }

.input:hover {
  background-color: #c4d8e0; }

.btn a {
  color: #fff; }

.grid__wrapp {
  padding-top: 10rem; }

.grid__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  border-bottom: 1px solid #000; }

.grid__item {
  font-size: 2rem;
  font-weight: 700; }

.grid__middle {
  display: flex;
  border-bottom: 1px solid #000; }

.grid__description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.8rem;
  height: 16rem;
  margin-left: 3rem; }

.grid-col {
  font-size: 2rem;
  margin-left: 9rem; }

.price {
  font-size: 2rem;
  margin-left: 39rem; }

.price2 {
  font-size: 2rem;
  margin-left: 29rem;
  margin-right: -3rem; }

.grid__img img {
  width: 20rem;
  height: 20rem;
  margin-bottom: 3rem; }

.total {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.total span {
  font-size: 2rem;
  margin-top: 2rem; }

.total span:last-child {
  margin-left: 8rem; }

.grid__main {
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: space-between; }

.billing__title {
  font-size: 2rem;
  border-bottom: 1px solid grey;
  width: 65rem; }

.delivery__title {
  font-size: 2rem;
  border-bottom: 1px solid grey;
  width: 65rem; }

.form__content {
  padding-top: 5rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  width: 65rem; }

.form__left {
  display: flex;
  justify-content: space-between;
  flex-direction: column; }

.form__right {
  display: flex;
  justify-content: space-between;
  flex-direction: column; }

.form__right input {
  width: 30rem;
  height: 3.5rem;
  font-size: 2rem;
  margin-bottom: 1rem; }

.form__left label {
  font-size: 2rem;
  color: grey;
  margin-bottom: 1rem; }

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
  border: 1px solid grey;
  height: 3.5rem;
  margin-bottom: 1rem;
  background-color: #fff; }

.custom-select select {
  display: none; }

.select-selected {
  border: 1px solid #000; }

.select-selected:after {
  position: absolute;
  content: "";
  top: 10px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: grey transparent transparent transparent; }

.select-selected.select-arrow-active:after {
  border-color: transparent transparent grey transparent;
  top: 7px; }

.select-items div, .select-selected {
  color: #535252;
  font-size: 2rem;
  padding: 0 1.6rem;
  border: 1px solid transparent;
  cursor: pointer; }

.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99; }

.select-hide {
  display: none; }

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1); }

/* The container */
.contai {
  margin-top: 3rem;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.container__cheked {
  cursor: pointer;
  font-size: 2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.contai input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #eee;
  border-radius: 50%; }

.contai:hover input ~ .checkmark {
  background-color: #ccc; }

.contai input:checked ~ .checkmark {
  background-color: grey; }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.contai input:checked ~ .checkmark:after {
  display: block; }

.contai .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white; }

.check span {
  font-size: 2rem;
  margin-left: 1rem; }

.deli__title {
  font-size: 2rem;
  border-bottom: 1px solid #000; }

.delivery__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem; }

.delivery__wrap span {
  font-size: 1.5rem; }

.delivery__wrap p {
  width: 30rem;
  font-size: 1.5rem;
  margin-top: 2rem; }

.grid__bottom {
  padding-bottom: 3rem; }

.payment {
  width: 65rem;
  padding-bottom: 5rem; }

.payment__title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey; }

.payment__title span {
  font-size: 2rem;
  text-transform: uppercase; }

.choose__payment {
  font-size: 2rem;
  margin: 2rem 0; }

.payment__wrap a img {
  width: 10rem;
  height: 10rem;
  margin-right: 1rem; }

.payment__wrap a img:hover {
  background-color: #000; }

.payment__wrap {
  margin-bottom: 6rem; }

.pay__form {
  display: flex;
  justify-content: space-between; }

.pay__left {
  display: flex;
  flex-direction: column; }

.pay__left label {
  font-size: 2rem;
  margin-bottom: 5rem; }

.pay__right input {
  font-size: 2rem;
  margin-bottom: 2rem;
  width: 30rem;
  border: 1px solid grey;
  padding: 1rem 0; }

.wrapper__input {
  display: flex;
  justify-content: space-between; }

.wrapper__input input {
  width: 13rem; }

.security input {
  width: 10rem; }

.security a span {
  font-size: 2rem;
  color: grey;
  margin-left: 2rem; }

.payment p {
  font-size: 1.5rem; }

.pay__button {
  background-color: #000;
  width: 30rem;
  color: #ffff;
  padding: 1rem 0;
  margin-top: 4rem; }
